html{
    font-size:16px;
    background-color: white;
}

body{

}

/* Header */
header{
     background-color: lightgrey;  
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    height: 4rem;
    background-color: white;
    position: fixed;
    width: 100%;
    top:0;
}

nav div{
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

nav ul li {
    display: inline;
    padding: 0px 0.5rem;
}

container{
    max-width: 100%;
   
}

.menu ul.mobile-menu{
    display: none;
}

.flex{
    display: flex;
}

.main-banner{
    margin-top:4rem;
    padding:2rem 1.5rem;
    display: flex;
    align-items:center;
}

.main-banner img{
    width:60%;
    margin-right: 2.5rem;
}

.content-banner{
    align-items:center;
    
}

@media only screen and (max-width: 700px){
    .menu ul.mobile-menu {
    display: block;
    }
    .menu ul{
    display: none;
    }
    .logo{
    display: none;
    }
}

/* Article Section */

.hero img{
    width:76%;
    padding:2rem 1.5rem;
}

.article{
    display: flex;
    align-items:center;
    
}

.article img{
    width: 35%;
    height: auto;
}