html{
    font-size:16px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color:#2E343B;
}

body{

}

/* Typography */

h1,h2,h3,h4{
    font-family: 'Nunito', sans-serif; 
}

header h1{
    color: white;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
h2{
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}
h3{
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

/* Header */
header{
     background-color: #2E343B;  
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    background-color: white;
    position: fixed;
    width: 100%;
    top:0;
}

nav div{
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

nav ul li {
    display: inline;
    padding: 0px 0.5rem;
}

container{
    max-width: 100%;
   
}

.menu ul.mobile-menu{
    display: none;
}

.flex{
    display: flex;
}

.main-banner{
    margin-top:4rem;
    padding:2rem 1.5rem;
    display: flex;
    align-items:center;
}

.main-banner img{
    width:60%;
    margin-right: 2.5rem;
}

.content-banner{
    align-items:center;
    
}

a.button, a.button-start{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color:#3455DB;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: 1rem 5rem;
}

a.button:hover{
    background-color: #3D63FF;
}

#introduction{
    color: white;
    margin-top:1.5rem;
    margin-bottom: 3rem;
    font-size:1.5rem;
    line-height: 1.5;
}

#colmar, #academy{
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
}

#colmar{
    font-weight: 700;
    color: #3455DB;
}
#academy{
    color:#2E343B;
}

.menu a{
    text-decoration: none;
    color:#2E343B;
}

.menu a:hover{
    color:#3455DB;
}

@media only screen and (max-width: 700px){
    .menu ul.mobile-menu {
    display: block;
    }
    .menu ul{
    display: none;
    }
    .logo{
    display: none;
    }
}

/* Articles Section */

.inspo{
    padding:2rem 1.5rem;
    display: flex;
}
.hero{
    margin-right: 1.5rem;
    width:64%;
}
.hero img{
    padding-bottom:2rem;
    width:100%;
}

article{
    display: flex;
    padding: 1rem;
    align-items: center;
}

article p{
    line-height: 1.3;
    margin-bottom: 0.5rem;
}

article a {
    text-decoration: none;
    color: #3455DB;
    font-weight:700;
}

article:first-child{
   padding-top: 0rem;
}

article:last-child{
    background-color: #2E343B; 
    color:#fff;
}

article:last-child a{
    color:#fff;
}

.col-two article img{
    width: 35%;
    padding-right: 1rem;
}
#quote{
    font-size:1rem;
    font-style: italic;
    padding-bottom: 1.2rem;
}
#signature{
    font-size: 0.8rem;
    font-weight: 700;
}
.col-two{
    max-width:423px;
}

/* Course Section */

.courses{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
}
